body {
  background-color: #bdc3c7;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Prociono', serif;
  color: #2c3e50;
}

h1 {
  font-size: 24px;
  line-height: 25px;
}

h2 {
  font-size: 20px;
  line-height: 21px;
}

h3 {
  font-size: 18px;
  line-height: 19px;
}

p {
  font-size: 15px;
}

.container {
  width: 600px;
  margin: 30px auto;
}

.card {
  margin: 20px;
  padding: 25px;

  border-radius: 4px;
  box-shadow: 0 0 4px #999999;

  background-color: #ecf0f1;
}

#img-logo {
  width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #666666;
}

a {
  color: #d35400;
  text-decoration: none
}

a:hover{
  color: #ecf0f1;
  background-color: #d35400;
}

.text-center{
  text-align: center;
}

.text-justify {
  text-align: justify;
}

td {
  padding: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 35px;
  padding-left: 0px;
}

.list-inline > li > a > i{
  font-size: 45px;
}

.link-blue {
  color: #2c3e50;
}

.link-blue:hover {
  color: #95a5a6;
  background-color: inherit;
}

#btn-fun {
  position: fixed;
  padding: 15px;
  background-color: #e67e22;
  color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #666666;

  font-family: 'Coiny', cursive;
}

#btn-fun:hover {
  background-color: #d35400;
  box-shadow: 0px 0px 0px #aaaaaa;
}
